body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  color: #333;
}


header {
  background: #0077cc;
  color: white;
  padding: 20px;
  text-align: center;
}
.gold {
    color: gold;
}



header nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}


#hero {
  background: #e0f7fa;
  text-align: center;
  padding: 50px 20px;
}


#projects {
  padding: 30px;
  text-align: center;
}


.project-card {
  background: white;
  display: inline-block;
  margin: 10px;
  padding: 15px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  color: rgb(0, 0, 0) !important;
}

.project-card img {
  width: 100%;
  border-radius: 5px;
}


footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: white;
}
